*{
    margin:0;
    padding:0;
    background-color: palevioletred;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.wrapper {
    display:-webkit-flex;
    display:-moz-flex;
    display:-ms-flex;
    display:-o-flex;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;

}

.photo-wrap {
    width:400px;
    height:400px;
    border-radius:50%;
    position: relative;
    cursor: pointer;
    box-shadow: 0 30px 15px rgba(0,0,0,0.2);
}

.inside-text {
    position: absolute;
    width:100%;
    height:100%;
    border-radius:50%;
    overflow: hidden;
    background:palevioletred;
    color:#fff;

}

.inside-text p {
    width:70%;
    margin:auto;
    text-align: center;
    font-size:12px;
    line-height: 1.5;



}


.inside-text h3 {
    text-transform: uppercase;
    position: relative;
    text-align: center;
    font-size:20px;
    margin: 0 auto;
    padding: 70px 0 0 0;
    font-weight:400;
   

}


.social-medias {
    padding-top:50px;
}


.social-medias a {
    text-decoration: none;
    color:#fff;
    font-size: 15px;
    margin: 0 7px;
}

.imgBox {
    width:100%;
    height:100%;
    border-radius:50%;
    overflow: hidden;
    position: absolute;
    box-shadow:inset 0 0 0 15px rgba(255,255,255,0.5);
    transform-origin:95% 40%;
    transition:all 0.3s ease-in-out;
    transform:translate3d(0,0,0);
    background-image:url(images/millie-and-cupcake.png);
    z-index:12;
    -webkit-background-size:cover;
    background-size:cover;
    background-position: center center;


}

.photo-wrap:hover .imgBox {
 transform:rotate(-110deg);
}